@import "./resets";

@import "./utilities";

input {
  margin-bottom: 0.6rem;
}
.my-header {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    p {
      padding-top: 5px;
      font-size: 2rem;
    }
  }
  //   a {
  //     display: inline;
  //   }
}
